* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

footer {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 20px;
    text-align: center; 
}

.footer-logo{
position:fixed;
background-color:#2980b9; 
}

.footer-logo img {
    max-width: 65%;
    height: auto;
    display: block;
    margin: 0 auto 2px;
}

.inquiry-form, .staff-section {
    margin: 20px 0;
}

.inquiry-form h2, .staff-section h2 {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin: 10px 0 5px;
    color: #333;
}

input, textarea, button {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input, textarea {
    background-color: #ffffff;
}

button {
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1c5980;
}

.staff-section {
    margin-bottom: 20px;
}

.staff-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.staff-member {
    flex: 1 1 300px;
    max-width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.staff-member img {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 10px;
}

.staff-info {
    text-align: center;
    color: #333;
}

.memories-section {
    margin-bottom: 20px;
}

.memories-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.memory-item {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.memory-item img {
    width: 100%;
    height: auto;
    display: block;
}
.footer-info {
    margin-top: 20px;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2c3e50;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.nav-item {
    color: #ecf0f1;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s;
}

.nav-item img {
    max-width: 24px;
    margin-bottom: 5px;
}

.nav-item span {
    font-size: 12px;
}

.nav-item:hover {
    background-color: #2980b9;
    border-radius: 5px;
}
